__pycache__/
*.pyc
.venv/
auralix.sqlite3
.DS_Store
Actividad_ReproductorMultimediaPersonalizado_53945291X.md
Plantilla_Examen_Media_Control_Hub.md
Actividad_Auralix_53945291X.md
Plantilla_Examen_Auralix.md
